/* ---------------------- CSS for header and footer starts here ---------------------- */
@media screen and (max-width : 768px)
{
	.navbar-toggle
	{
		visibility: visible;
	}
	#main_div_for_main_page 
	{
		position: static;
		transform: translate(1%, 1%);
	}
}

@media screen and (min-width:769px)
{
	.navbar-toggle
	{
		visibility: hidden;
	}
}

ul > li > .nav-link:hover
{
    border-radius: 5px;
    background-color: white;
    color: black!important;
}

.sticky_footer
{
	margin-top: 20px;
    position: fixed;
	left: 1%;
    bottom: 0px;
    width: 98%;
    align-items: center;
}

#copyright_text
{
    color:white;
}

#copyright_text:hover
{
    text-decoration: underline;
}

.copyrights_container
{
    margin: 0;
    padding: 0;
    bottom: 0;
}

.strip_behind_footer
{
    padding: 0;
    margin: 0;
}
/*--------------------------- CSS for header and footer ends here -------------------------*/

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/*----------------------------- CSS for index-page starts here ----------------------------*/
#main_div_for_main_page
{
    background: rgba(255,255,255,0.4);
    border-radius: 30px;
    border: 2px solid white;
    align-content: center;
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    padding: 10px 0px;
}

.image_above_button
{
    position: relative;
	width: 100%;
	border-radius: 25px;
}
/*------------------------------ CSS for index-page ends here ---------------------------*/

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/*-------------------------------- Universal CSS styling --------------------------------*/
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: roboto light;
    background: url('../img/free-images/action-astronomy-constellation-1274260-(small).jpg');
    background-size: cover;
    background-position: center;
}

.full_page_cover
{
	height: 100vh;
	width: 100%;
}

#main_div
{
    height: 100vh;
    background: rgba(0,0,0,0.25);
}

#forgot_password_text
{
    color:white;
}

#forgot_password_text:hover
{
    color: #130070;
	
}


#login_form > div > .input
{
    text-align: center;
    border-radius: 15px;
    border: 0px;
    margin-left: 5px;
}

#login_form > div > .input:hover,
#login_form > div > .input:focus
{
    border: 1px solid black;
    cursor: pointer;
}

#login_form_container
{
	top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2vh;
    padding-bottom: 20px;
    position: relative;
    align-content: center;
    border: 2px solid #E8E8E8;
    border-radius: 15px;
    background: rgba(255,255,255,0.50);
}

#login_form_container:hover
{
	border-color: black;
}

.btn_submit
{
    margin-left: 10px;
    text-transform: uppercase;
    padding: 5px 30px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.2s;
}

.btn_submit:hover
{
    color: white;
    padding: 5px 32px;
    background-color: black;
    border: 2px double white; 
    cursor: hand;
}
/*-------------------------------- Universal CSS ends here --------------------------------*/

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/*------------------------------ Faculty View CSS starts here -----------------------------*/

#full_page_row_faculty
{
	height: 85vh;
	transform: translate(1%, 1%);
}

/*------------------------------- Faculty View CSS ends here ------------------------------*/

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */